<html>
<head>
	<title>Workout</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	 
	<nav class="navbar navbar-toggleable-md navbar-light" id="navigation">
	  	<div class="container-fluid">
	  		  <a id="title">flex</a>
		</div>
	</nav>
</head>  

	<body>
		<div class="form-group">
		  <label for="usr">Username:</label>
		  <input type="user" class="form-control" id="usr">
		</div>
		<div class="form-group">
		  <label for="pwd">Password:</label>
		  <input type="password" class="form-control" id="pwd">
		  <br/>
		  <button class="btn" onclick="submitClicked()" id="submit">Submit</button>
		  <br></br>
		  <br>
			<fb:login-button 
			  scope="public_profile,email"
			  onlogin="checkLoginState();">
			</fb:login-button>
		</br>
		</div>


		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/bootstrap.min.js"></script>
		<script src="../routes/index.js"></script>
		{{> facebook}}
		<script src="../public/js/facebook.js"></script>

	</body>
	<script type="text/javascript" href="index"></script>
	<script>
		function submitClicked(){
			location.href = "library";
		};
	</script>

<!-- SCRIPT -->

	<!-- 	// for(int i = 0; i < Object.keys(data.account).length; i++)
		// 	if(document.getElementById("usr").value == data.account.username)
		// 	{
		// 		if(document.getElementById("pwd").value == data.account.password)
		// 		{
		// 			location.href = "library"
		// 		}
		// 	}
		// } -->
		
	

</html>