<html>
<head>
	<!-- Google Analytics Content Experiment code -->
<!-- 	<script>function utmx_section(){}function utmx(){}(function(){var
	k='170665669-0',d=document,l=d.location,c=d.cookie;
	if(l.search.indexOf('utm_expid='+k)>0)return;
	function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
	indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
	length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
	'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
	'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
	'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
	valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
	'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
	</script><script>utmx('url','A/B');</script> -->
	<!-- End of Google Analytics Content Experiment code -->
	
	<title>Workout</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
  	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  	 <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
     rel="stylesheet">

    <link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/login.css" rel="stylesheet">

	 
	<div class="header" id="myHeader">
	 	<h2 class="container-fluid">
			<h2>Flex</h2>
		</h2>
	</div>

</head>  

	<body>

		<div class="form-group">
<<<<<<< HEAD
		  <h5 id="incorrectpwd">Username or password incorrect! Please re-enter or sign-up below.</h5>
=======
			<center><img src ="images/login.png" class="img-responsive" id="login-photo" alt="Step 6"></center>
>>>>>>> 2f0580505505ba88de6fbd109b30f2ea9b3fe2db
		  <label for="usr">Username:</label>
		  <input type="user" class="form-control" id="usr">


		  <label for="pwd">Password:</label>
		  <input type="password" class="form-control" id="pwd">
		  <br/>

		  <button class="btn" onclick="submitClicked()" id="submit">Submit</button>
		  <button class="btn" onclick="signup()" id="signup">Sign-Up</button>
		  <br></br>
		  <br>
			<fb:login-button scope="public_profile,email" onlogin="window.location='/library'">
			</fb:login-button>
		</div>

		 <!--  <fb:login-button scope="public_profile,email" onlogin="checkLoginState();"
		  onclick="submitFBClicked()" id="submit" >
		</fb:login-button> -->
		</br>



		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<!-- <script src="../index.js"></script> -->
		{{> facebook}}
		<!-- <script src="/js/facebook.js"></script> -->

	</body>
	<script type="text/javascript" href="index"></script>

	<script>
		$("#incorrectpwd").hide();

		function submitClicked(){
			//var username = $("#usr").val();
			var username = $("#usr").val();
			var password = $("#pwd").val();

			var valid = false;
			{{#each login}}
				if("{{this.username}}" == username && "{{this.password}}" == password)
				{
					location.href = "/library";
					valid = true;
				}
			{{/each}}

			if(!valid)
			{
				$("#incorrectpwd").show();
				console.log("INVALID");
			}

		};

		function signup(){
			$("#incorrectpwd").hide();

			location.href = "/signup";
		};
	</script>


<!-- SCRIPT -->
<!-- 
		// for(int i = 0; i < Object.keys(data.account).length; i++)
		// 	if(document.getElementById("usr").value == data.account.username)
		// 	{
		// 		if(document.getElementById("pwd").value == data.account.password)
		// 		{
		// 			location.href = "library"
		// 		}
		// 	}
		// } -->
		
	

</html>