<html>
<head>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114946810-1');
</script>

	<title>Info</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/info.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<style>
	@import url('https://fonts.googleapis.com/css?family=Karla');
	</style>
	<!-- this is a comment in HTML -->
	<div class="header" id="myHeader">
	 	<h2 class="container-fluid">
	  	<a href="/library">
				<i class="material-icons" id = "infoicon" onclick="back()"> chevron_left</i>
			<h2>App Information</h2>
			</a>
		</h2>
	</div>


<script>
	function home() {
		location.href = "info"
	}
</script>
    
</head>
<form id="libraryForm" action="/info" method="POST">
<body>
</form>



	<div class="card">
	  <div class="container-1">
	    <p class="workoutname"> Background <small class="durationText"> <!-- 5 min. --></small	
	  		<a href="/info">
		</a>
		</p>
	</br>
		<div class="exercise-summary">
		<p class="exercise"> A workout application created with the purpose of seamless exercise, regulated by sound. </p>
		<center><img src ="images/flex.png" class="img-responsive" id="step-photo" alt="Step 6"></center>
		<p class="exercise"> Created by Team NAP for COGS 120. </p>
		</div>
		<br></br>
		<a href="/tutorial">
			<center><button type="button" class="tutorial-btn" id="tutorial-btn" onclick="tutorial()">Tutorial</button></center>
		</a>
	  </div>
	</div>
		


</body>


<!--SCRIPTS-->

<script type="text/javascript">

	function logout() {
		location.href = "/"
	}
	function back() {
		location.href = "/library"
	}
	function tutorial() {
		location.href = "/tutorial"
	}
	function refresh() {
		location.href = "/info"
	}
</script>
<!-- </form>
 --></html>