<html>
<head>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114946810-1');
</script>

	<title>Info</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/info.css" rel="stylesheet">

	<style>
	@import url('https://fonts.googleapis.com/css?family=Karla');
	</style>
	<!-- this is a comment in HTML -->
	<div class="header" id="myHeader">
  <h2>My Header</h2>
</div>

	<nav class="navbar navbar-toggleable-md navbar-light" id="navigation">
	  	<div class="container-fluid">
	  		  <a id="title">Info</a>
		</div>
	</nav>
	
<script>
	function home() {
		location.href = "info"
	}
</script>
    
</head>
<form id="libraryForm" action="/info" method="POST">
<body>
</form>

	<div class="exercise">
	<ul class="list-group" id="workoutList">
	  <li class="list-group-item justify-content-between">
	  	<p class="workoutname"> Background <small class="durationText"> <!-- 5 min. --></small	
	  		<a href="/info">
		</a>
		</p>
	</br>
		<p class="exercise"> A workout application created with the purpose of seamless exercise, regulated by sound. </p>

		<a href="/tutorial">
			<button type="button" class="tutorial-btn" id="tutorial-btn" onclick="tutorial()" aria-label="Left Align">Tutorial</button>
		</a>
		<a href="/">
			<button type="button" class="logout-btn" id="logout-btn" onclick="logout()" aria-label="Left Align">Logout</button>
		</a>
	  </li>
	</ul>
	</div>
		


</body>


<!--SCRIPTS-->

<script type="text/javascript">

	function logout() {
		location.href = "/"
	}
	function tutorial() {
		location.href = "/tutorial"
	}
	function refresh() {
		location.href = "/info"
	}
</script>
<!-- </form>
 --></html>