<html>
<head>
	<title>Stats</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">

	<style>
	@import url('https://fonts.googleapis.com/css?family=Karla');
	</style>
	
	<nav class="navbar navbar-toggleable-md navbar-light" id="navigation">
	  	<div class="container-fluid">
	  		  <a id="title">flex</a>
		</div>
	</nav>

</head>
<body>


	<div class="container">
		<div class="container-fluid stats">
			<p> This is a statistics page! </p> 
			<p> In the past week you have worked out 5 times! </p>
		</div>
	</div>
	</body>
</html>