<html>
<head>
	<title>Timer</title>	

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">

	<style>
	@import url('https://fonts.googleapis.com/css?family=Karla');
	</style>


  <nav class="navbar navbar-toggleable-md navbar-light" id="navigation">
      <div class="container-fluid">
          <a id="title">flex</a>
    </div>
  </nav>
  
</head>

<body>

<style>
p {
  text-align: center;
  font-size: 60px;
  margin-top:0px;
}
</style>
</head>
<body>

<p id="demo"></p>

<script>


// Set the date we're counting down to
var estimated = new Date(1618815257015).getTime();

var x = setInterval(function() {

    var now = Date.now();
    
    var distance = estimated - now;
    
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
	}, 1000);
</script>
<div class="timer-btns" id='timer-btns'>
<button type="button" class="timer-start-btn" id="timer-start-btn"
		<p>Start</p></button>

<button type="button" class="timer-stop-btn" id="timer-stop-btn" 
		<p>Stop</p></button>
	</div>

	</body>
</html>