<html>
<head>
	<title>Timer</title>	

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">

	<style>
	@import url('https://fonts.googleapis.com/css?family=Karla');
	</style>


	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->   
	<nav class="navbar navbar-toggleable-md navbar-light" id="navigation">
	  	<div class="container-fluid">
	  		  <a id="title">flex</a>
			  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse" id="navbarNav">
			    <ul class="navbar-nav">
			      <li class="nav-item active">
			        <a class="nav-link" href="library"><font color="gray">Home</font>
			        	<span class="sr-only">(current)</span>
			        </a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="stats"> <font color="gray">Stats</font></a>
			      </li>
			      <li class="nav-item">
			        <a class="nav-link" href="Timer"><font color="#651fff">Timer</font></a>
			      </li>
			   <!--    <li class="nav-item">
			        <a class="nav-link" href="settings">Settings</a>
			      </li> -->
			    </ul>
			  </div>	
		</div>
	</nav>
	<h3>Timer</h3>
</head>

<body>

<style>
p {
  text-align: center;
  font-size: 60px;
  margin-top:0px;
}
</style>
</head>
<body>

<p id="demo"></p>

<script>


// Set the date we're counting down to
var estimated = new Date(1618815257015).getTime();

var x = setInterval(function() {

    var now = Date.now();
    
    var distance = estimated - now;
    
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    document.getElementById("demo").innerHTML = days + "d " + hours + "h "
    + minutes + "m " + seconds + "s ";
    
    if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
    }
	}, 1000);
</script>
<div class="timer-btns" id='timer-btns'>
<button type="button" class="timer-start-btn" id="timer-start-btn"
		<p>Start</p></button>

<button type="button" class="timer-stop-btn" id="timer-stop-btn" 
		<p>Stop</p></button></div>

	</body>
</html>