<html>
<head>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-114946810-1');
</script>

	<title>Tutorial</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
  	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/tutorial.css" rel="stylesheet">

	<style>
	@import url('https://fonts.googleapis.com/css?family=Karla');
	</style>
	<!-- this is a comment in HTML -->
	<div class="header" id="myHeader">
	 	<h2 class="container-fluid">
	  	<a href="/info">
				<i class="material-icons" id = "infoicon" onclick="back()"> chevron_left</i>
			Tutorial
			</a>
		</h2>
	</div>


<script>
	function home() {
		location.href = "tutorial"
	}
</script>
    
</head>
<form id="libraryForm" action="/tutorial" method="POST">
<body>
</form>



	<div class="card">
	  <div class="container-1">
	    <p class="workoutname"> Step 1 <small class="durationText"> <!-- 5 min. --></small	
	  		<a href="/tutorial">
		</a>
		</p>
	</br>
		<div class="exercise-summary">
		<p class="exercise">Add a workout.</p>
		<br></br>
		</div>
	  </div>
	</div>
		
			<div class="card">
	  <div class="container-1">
	    <p class="workoutname"> Step 2 <small class="durationText"> <!-- 5 min. --></small	
	  		<a href="/tutorial">
		</a>
		</p>
	</br>
		<div class="exercise-summary">
		<p class="exercise">Edit the workout.</p>
		<br></br>
		</div>
	  </div>
	</div>
		
			<div class="card">
	  <div class="container-1">
	    <p class="workoutname"> Step 3 <small class="durationText"> <!-- 5 min. --></small	
	  		<a href="/tutorial">
		</a>
		</p>
	</br>
		<div class="exercise-summary">
		<p class="exercise">Add exercises.</p>
		<br></br>
		</div>
	  </div>
	</div>
		
			<div class="card">
	  <div class="container-1">
	    <p class="workoutname"> Step 4<small class="durationText"> <!-- 5 min. --></small	
	  		<a href="/tutorial">
		</a>
		</p>
	</br>
		<div class="exercise-summary">
		<p class="exercise">Set a number of repetitions.</p>
		<br></br>
		</div>
	  </div>
	</div>
		
			<div class="card">
	  <div class="container-1">
	    <p class="workoutname">Step 5<small class="durationText"> <!-- 5 min. --></small	
	  		<a href="/tutorial">
		</a>
		</p>
	</br>
		<div class="exercise-summary">
		<p class="exercise">Save the workout.</p>
		<br></br>
		</div>
	  </div>
	</div>
		
	<div class="card">
	  <div class="container-1">
	    <p class="workoutname">Step 6<small class="durationText"> <!-- 5 min. --></small	
	  		<a href="/tutorial">
		</a>
		</p>
	</br>
		<div class="exercise-summary">
		<p class="exercise">Start the workout.</p>
		<br></br>
		</div>
	  </div>
	</div>


</body>


<!--SCRIPTS-->

<script type="text/javascript">

	function logout() {
		location.href = "/"
	}
	function back() {
		location.href = "/info"
	}
	function tutorial() {
		location.href = "/tutorial"
	}
	function refresh() {
		location.href = "/tutorial"
	}
</script>
<!-- </form>
 --></html>