<html>
<head>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-114946810-1');
	</script>

	<title>User Profile</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/info.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<style>
		@import url('https://fonts.googleapis.com/css?family=Karla');
	</style>
	<!-- this is a comment in HTML -->
	<!-- <div class="header" id="myHeader">
		<h2>My Header</h2>
	</div> -->

	<!-- <nav class="navbar navbar-toggleable-md navbar-light" id="navigation">
		<div class="container-fluid">
			<a id="title">User Profile</a>
		</div>
	</nav> -->
	<div class="header" id="myHeader">
  		<h2>
  			<a href="/library">
				<i class="material-icons" onclick="back()"> chevron_left</i>
			</a>
			User Profile
		</h2>
	</div>

	<script>
		function home() {
			location.href = "userprofile"
		}
	</script>

</head>

	<form id="libraryForm" action="/userprofile" method="POST">
<body>
	</form>
	<div class="card">
	  <img class="img-responsive" id="photo" src ="images/avatar.png" alt="Avatar" style="width:100%; max-height: 100%;">
	  <div class="container-1">
	    <h1 id="name" style="text-align: center;"><b>Name</b></h1> 
	  </div>
	</div>
	<!-- <div class="userbackbtn">
		<button class="btn" onclick="submitClicked()" id="submit">Back</button>
	</div> -->
	<a href="/">
			<center><button type="button" class="logout-btn" id="logout-btn" onclick="logout()" >Logout</button></center>
		</a>

	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/bootstrap.min.js"></script>
<!-- 	<script src="/index.js"></script> -->
	{{> facebook}}
<!-- 	<script src="/js/facebook.js"></script> -->
</body>


<!--SCRIPTS-->

<script type="text/javascript">

	function logout() {
		location.href = "/"
	}
	function tutorial() {
		location.href = "/tutorial"
	}
	function refresh() {
		location.href = "/userprofile"
	}
</script>

<!-- <script>
	function submitClicked(){
		location.href = "library";
	};
</script> -->

<!-- </form>
--></html>