<html>
<head>
	<title>Workout</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">


  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>	
    <link href="css/bootstrap.css" rel="stylesheet">
	<link href="css/index.css" rel="stylesheet">
	
	<nav class="navbar navbar-toggleable-md navbar-light" id="navigation">
	  	<div class="container-fluid">
	  		  <a id="title">flex</a>
		</div>
	</nav>
</head>
<body>


	<h3>Friday Fun <small> 10 min.</small></h3></br>
	<h3>Exercises
		<button type="button" class="btn btn-lg" id="addbtn" aria-label="Left Align">
	  		<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		</button>
	</h3>
    
    {{#each exercise}}
    <div class="exercise">
		<div class="container">
			<div class="container-fluid" id="individual-exercise">
				<div class="row">
				     <div class="col-11 form-group name-text-box">
		  				<input type="text" class="form-control name-text-box" placeholder=" {{ex}}" > 
					 </div>
					 <button type="button" class="col-1 close" aria-label="Close">
					  	<span aria-hidden="true">&times;</span>
					 </button>
				</div>
				<div class="row">
				    <div class="col-4 time-text-box">
				    	<div class="form-group time-text-box">
		  					<input type="text" class="form-control" placeholder="{{time}}" >
						</div>
					</div>
				    <div class="col-2">
						<div class="dropdown">
						  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    {{unit}}
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" id="unitDrop" href="#">min</a>
						  </div>
						</div>
					</div>
				    <div class="col-1">
						<div class="dropdown">
						  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    {{sound}}
						  </button>
						  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
						    <a class="dropdown-item" href="#">Action</a>
						    <a class="dropdown-item" href="#">Another action</a>
						    <a class="dropdown-item" href="#">Something else here</a>
						  </div>
						</div>
					</div>
				    <div class="col-5">
				    </div>
				</div>
			</div>
		</div>
	</div>
	{{/each}}
<script type="text/javascript">
	function addWorkout() {
		location.href = "addworkout"
	}
</script>
<body>
	<p>We'll add to this later!</p>

	</body>
</html>