/* applies to anything of class "example-class-selector" */
.example-class-selector {
	margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
	/* Colors are in hexadecimal: http://www.colorpicker.com/ */	
	color: #CC00AA;
}

.jumbotron {
	position: relative;
	background: none;
}

a{
     color: black;
}
.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;	
}

.jumbotron p {
     color: #6e6e6e;
}


.project a {
     text-align: center;
}

.btn-default{
     padding: 100px;
}

#title{
     font-size: 30px;
     color: black;
     font-weight: bold;
     text-align: left;
}

#addWorkoutBtn{
     padding: 5px;
     background-color: white;
     border: 1px solid black;
     vertical-align: right; 
     white-space: 5px;
     font-size: 20px;
}

#submit{
     padding: 5px;
     background-color: white;
     border: 1px solid black;
     vertical-align: right; 
     white-space: 5px;
     font-size: 100%;
}

#startBtn{
     margin-left: 10px;
     text-align: right;
     padding: 5px;
     color:white;
     background-color: black;
}

#deleteBtn{
     font-size: 100px;
}

#editBtn{
     margin-left: 10px;
     text-align: right;
     padding: 5px;
     color:white;
     background-color: black;
}

#navigationBar{  
    /* display:none;*/
}

#navText{
     color: black;
     display:inline-block;
     text-align: center;
     font-size: 50%;
     margin-right: 35px;
}

.navbar-text{
     font-size: 20px;
}

#navigation{
     background-color: white;
     border: 1px solid black;
     justify-content: flex-center !important;

}

.list-group-item{
     font-size: 15px;
     padding-bottom: 5px;
}

.durationText{
     font-size: 10px;
}

.container{
     min-width: 200px;
     max-width:100%;
     padding: 0 !important;
     width: 100%;
}

#individual-exercise{
     border: 1px solid black;
     width: 100%;
     min-width: 200px;

}

.name-text-box {
     width: 70% !important;
     min-width: 200px;
     max-width: 500px;
     padding-left: 0!important;
     padding-right: 90%;
}

.time-text-box{
     width: 100px !important;
     padding-left: 0!important;
}

.row{
     padding: 10px;
}

.col{
     padding-bottom:5px;
}

body{
     margin: 30px;
}

.list-group-item{
     display:inline-block;
     white-space: nowrap;
}

.glyphicon{
     font-size: 15px;
}

.workoutname{
     font-size: 20px;
}