/* applies to anything of class "example-class-selector" */
.example-class-selector {
     margin-top: 2em;
}

/* applies to any <p> descendants of an element of class "example-class-selector" */
.example-class-selector p {
     /* Colors are in hexadecimal: http://www.colorpicker.com/ */     
     color: #CC00AA;
}

.jumbotron {
     position: relative;
     background: none;
}

a{
     color: black;
}
.jumbotron:after {
     content:"";
     opacity: 0.2;
     top: 0;
     left: 0;
     bottom: 0;
     right: 0;
     position: absolute;
     z-index: -1;   
}

.jumbotron p {
     color: #6e6e6e;
}


.project a {
     text-align: center;
}

.btn-default{
     padding: 100px;
}

#title{
     font: bold;
     font-size: 30px;
     color: #651fff;
     font-weight: bold;
     text-align: left;
     float:left;
}

#addWorkoutBtn{
     padding: 5px;
     background-color: white;
     border: 1px solid black;
     vertical-align: right; 
     white-space: 5px;
     font-size: 20px;
}

.input-lg{
     font-size: 20px;
}

#submit{
     padding: 5px;
     background-color: white;
     border: 1px solid black;
     vertical-align: right; 
     white-space: 5px;
     font-size: 100%;
}

.start-btn{
    width: 180px;
    height: 33px;
    font-size: 18px;
    font-weight: 100;
    color: white;
    background-color: #651FFF;
    border: 2px solid #651fff;
    border-radius: 25px;
    box-shadow: 0px 2px 3px 0px #00000020;
    float: right;
    margin-top: 5px;

}

.edit-btn{
    width: 107px;
    height: 33px;
    font-size: 18px;
    font-weight: 100;
    color: #3F4A4F
    background-color: #white;
    border: 2px solid #651fff;
    border-radius: 25px;
    box-shadow: 0px 2px 3px 0px #00000020;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
}


#deleteBtn{
     font-size: 100px;
}

#editBtn{
     margin-left: 10px;
     text-align: right;
     padding: 5px;
     color:white;
     background-color: black;
}

#navigationBar{  
    /* display:none;*/
    font-size: 50px;
}

#navText{
     color: #3F4A4F
     display:inline-block;
     text-align: center;
     font-size: 50px;
     margin-right: 35px;
}

#demo{
    background-color: #ffffff;
    border: #ffffff;
    border radius: 25px;
    box-shadow: 0px 3px 6px 0px #00000020;
    font-size: 58px;
    font-weight: bold;
    color: #3F4A4F;
    padding: 20px;
}

.navbar-text{
     font-size: 50px;
}

#navigation{
     font-size: 18px;
     background-color: white;
     justify-content: flex-center !important;

     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 30px;
     padding-right: 30px;

     border: #ffffff;
     box-shadow: 0px 2px 5px 0px #00000020
}

.durationText{
     font-size: 18px;
     color: #3F4A4F;
}

.container{
     min-width: 200px;
     max-width:100%;
     padding: 0 !important;
     width: 100%;
}

#individual-exercise{
     border: 1px solid black;
     width: 100%;
     min-width: 200px;

}

.name-text-box {
     width: 70% !important;
     min-width: 200px;
     max-width: 500px;
     padding-left: 0!important;
     padding-right: 90%;
}

.time-unit{
     width: 50px !important;
     padding-left: 4%!important;
     text-align: left !important;
}
.time-text-box{
    margin: 0px !important;
}
.row{
     padding: 10px;
}

.col{
     padding-bottom:5px;
}

body{
     font-family: 'Karla', sans-serif;
     margin: 30px;
     background-color: #FCFCFC;
}

.list-group-item{

     display:inline-block;
     white-space: nowrap;
     border: #ffffff;
     border-radius: 10px;
     box-shadow: 0px 2px 6px 0px #00000020;

     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 30px;
     padding-right: 30px;

     font-size: 15px;
     margin-top: 10px;

}

.glyphicon{
     font-size: 15px;
}

.stats{
     border: 1px solid black;
     padding-top: 5px;
     padding-bottom: 5px;
     font-size: 15px;
}

.workoutname{
     font-size: 24px;
     font-weight: bold;
     color: #3F4A4F;
}

.progress{
     height: 50px;
}

.timerButton{
     padding: auto;
     margin-left:500px ;
     text-align: center;
}

.timer-start-btn{
    width: 150px;
    height: 46px;
    font-size: 25px;
    color: #3F4A4F;
    background-color: white;
    border: 2px solid #651fff;
    border-radius: 25px;
    box-shadow: 0px 2px 3px 0px #00000020;
    margin-right: 10px;
    margin-top: 5px;
}

.timer-stop-btn{
    width: 150px;
    height: 46px;
    font-size: 24px;
    color: #ffffff;
    background-color: #651fff;
    border: 2px solid #651fff;
    border-radius: 25px;
    box-shadow: 0px 2px 3px 0px #00000020;
    margin-right: 10px;
    margin-top: 5px;
}

.timer-btns{
    display: -webkit-flex; /* Safari */
    -webkit-align-items: center; /* Safari 7.0+ */ !important
    display: flex;
    align-items: center; !important
}

.exercise-names{
    font-size: 18px;
    font-weight: 100;
}

h3{
    font-size:24px;
    color: #3F4A4F;
    margin-right: 20px;
    margin-left: 20px; 
}

.stats{
    background-color: #ffffff;
    border: #ffffff;
    border-radius: 4px;
    box-shadow: 0px 2px 6px 0px #00000020;
    padding: 20px;
}


#outerProgressBar{
     border: 1px solid #651fff;
     height: 50px;
     width: 100%;
     margin-top: 20px;
     margin-bottom: 200px;
}

#innerProgressBar{
     text-align: left;
     border: 1px solid #651fff;
     background-color: #651fff;
     height: 48px;
     width:0%;
     margin-bottom: 20px;
}

.divider{
    width:35px;
    height:auto;
    display:inline-block;
}

#individual-exercise{
    background-color: #ffffff;
    border-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 6px 0px #00000020;
    margin-bottom: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 20px;
}

.save-btn{
    background-color: #651fff;
    border-radius: 4px;
    color: #ffffff;
    width: 60px;
    height: 30px;
    font-size: 12px;
    box-shadow: 0px 2px 4px 0px #00000020;
}

#timerButtonPause{
    width: 150px;
    height: 40px;
    background-color: #651fff;
        border: 2px, #651fff;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 8px;
}

#timerButtonPlay{
    width: 150px;
    height: 40px;
    background-color: #651fff;
    border: 2px, #651fff;
    border: 2px solid #651fff;
    border-radius: 10px;
    font-size: 16px;
    margin-right: 8px;
}

#timerButtonCancel{
    width: 150px;
    height: 40px;
    background-color: #ffffff;
    color: #263238;
    border: 2px solid #651fff;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0px 2px 4px 0px #00000020;
}
